.container{
	width: 757px;
}
body{
	font-family: Times New Roman, sans-serif;
	font-size: 18px;
}
h4{
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
}
span{
	font-weight: bold;
}
h5{
	margin-bottom: 15px;
	font-weight: bold;
}
.species{
	margin-bottom: 100px;
}
.species h5{
	text-align: center;
}
#left{
	text-align: left;
}

table{
	border: 3px solid grey;
}
td{
	border: 3px solid grey;
}
table img{
	width: 231px;
	height: 210px;
}
table a{
	margin-left: 40px;
}

.species img{
	padding: 25px 5px;
}
ul{
	padding-right: 15px;
}
.advantage img {
	width: 350px;
	height: 350px;
}
.advantage #main{
	float: left;
} 
.advantage p{
	font-size: 18.5px;
}
.advantage h4{
	margin-bottom: 20px;
}
.advantage h5{
	margin-top: 100px;
	text-align: center;
}
ol{
	font-size: 22px;
}
.advantage li{
	margin-bottom:20px;
}
